body {
	font: 0.8em/21px arial,sans-serif;
}

.checkbox, .radio {
	width: 19px;
	height: 25px;
	background:transparent url(../images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background:transparent url(../images/radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background:transparent url(../images/select.png) no-repeat;
	overflow: hidden;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.center-paragraph {
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: auto;
}

.input-recaptcha {
	width:172px;
}
#floatingCirclesG{
position:relative;
width:64px;
height:64px;
-webkit-transform:scale(0.6);
-moz-transform:scale(0.6);
-o-transform:scale(0.6);
-ms-transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#FFFFFF;
height:12px;
width:12px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-o-animation-name:f_fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
}

#frotateG_01{
left:0;
top:26px;
-webkit-animation-delay:0.39s;
-moz-animation-delay:0.39s;
-o-animation-delay:0.39s;
-ms-animation-delay:0.39s}

#frotateG_02{
left:8px;
top:8px;
-webkit-animation-delay:0.52s;
-moz-animation-delay:0.52s;
-o-animation-delay:0.52s;
-ms-animation-delay:0.52s}

#frotateG_03{
left:26px;
top:0;
-webkit-animation-delay:0.65s;
-moz-animation-delay:0.65s;
-o-animation-delay:0.65s;
-ms-animation-delay:0.65s;
}

#frotateG_04{
right:8px;
top:8px;
-webkit-animation-delay:0.78s;
-moz-animation-delay:0.78s;
-o-animation-delay:0.78s;
-ms-animation-delay:0.78s;
}

#frotateG_05{
right:0;
top:26px;
-webkit-animation-delay:0.9099999999999999s;
-moz-animation-delay:0.9099999999999999s;
-o-animation-delay:0.9099999999999999s;
-ms-animation-delay:0.9099999999999999s;
}

#frotateG_06{
right:8px;
bottom:8px;
-webkit-animation-delay:1.04s;
-moz-animation-delay:1.04s;
-o-animation-delay:1.04s;
-ms-animation-delay:1.04s;
}

#frotateG_07{
left:26px;
bottom:0;
-webkit-animation-delay:1.1700000000000002s;
-moz-animation-delay:1.1700000000000002s}

#frotateG_08{
left:8px;
bottom:8px;
-webkit-animation-delay:1.3s;
-moz-animation-delay:1.3s;
-o-animation-delay:1.1700000000000002s;
-ms-animation-delay:1.1700000000000002s;
}

#frotateG_08{
left:8px;
bottom:8px;
-webkit-animation-delay:1.3s;
-moz-animation-delay:1.3s;
-o-animation-delay:1.3s;
-ms-animation-delay:1.3s;
}

@-webkit-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-moz-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}
@charset "utf-8";
/* CSS Document */

.page-container{
  position: relative;
  margin-top: 20px;
  padding-left:20px;
  margin-right: 20px;
}

.length_select{
	background: transparent;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 240px;
  height: 34px;
  overflow: hidden;
}

.table-button {
  margin-right: 2px;
  margin-top: -6px;
  margin-bottom: -4px;
}

.table-button-column {
  width:138px;
}

.disabled {
  display: none;
}

#loading {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  margin-top: -32px; 
  margin-left: -32px;
  width: 64px;
  height: 64px;
}

.disabled_page{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.fields-select{
  margin-bottom: 10px;
}

.dataTables_wrapper { width: 100% }
table.display { width: 100% }

#footer {
  margin-top: 60px;
}

.FixedHeader_Header{
  background-color: #FFF;
}

@media (max-width: 767px) {
  [class*="span"], .row-fluid [class*="span"]{
    float:left;
  }
  .searh-field-row{
    right: 0px;
    position: absolute;
  }
  .row-fluid:last-child {
    right: 0px;
  }

  .fields-select{
    display: none;
  }
  #error_container{
    position: static;
    margin-top: 0px;
  }
}

@media (min-width: 980px) {
  .page-container{
    margin-top:60px;
  }
   #error_container{
    position: static;
    margin-top: 50px;
  }
}

/* This fixes the small white border that was under the fixed header */
.FixedHeader_Cloned.fixedHeader.FixedHeader_Header table {
  margin-bottom: 0px !important;
}

.table-button {
	margin-right: 1px;
	margin-top: -6px;
	margin-bottom: -3px;
}
body, html {
	height: 100%;
	background-color: #EEE;
}
html, body, #wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
#wrapper td {
   vertical-align: middle;
   text-align: center;
}
form {
	margin: 0;
}