@charset "utf-8";
/* CSS Document */

.page-container{
  position: relative;
  margin-top: 20px;
  padding-left:20px;
  margin-right: 20px;
}

.length_select{
	background: transparent;
   	padding: 5px;
   	font-size: 16px;
   	border: 1px solid #ccc;
   	width: 240px;
   	height: 34px;
   	overflow: hidden;
}

#loading {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  margin-top: -32px; 
  margin-left: -32px;
  width: 64px;
  height: 64px;
}

.disabled_page{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.fields-select{
  margin-bottom: 10px;
}

.dataTables_wrapper { width: 100% }
table.display { width: 100% }

#footer {
  margin-top: 60px;
}

.FixedHeader_Header{
  background-color: #FFF;
}

@media (max-width: 767px) {
  [class*="span"], .row-fluid [class*="span"]{
    float:left;
  }
  .searh-field-row{
    right: 0px;
    position: absolute;
  }
  .row-fluid:last-child {
    right: 0px;
  }

  .fields-select{
    display: none;
  }
  #error_container{
    position: static;
    margin-top: 0px;
  }
}

@media (min-width: 980px) {
  .page-container{
    margin-top:60px;
  }
   #error_container{
    position: static;
    margin-top: 50px;
  }
}

/* This fixes the small white border that was under the fixed header */
.FixedHeader_Header {
  background-color: white;
}