@charset "utf-8";
/* CSS Document */

.page-container{
  position: relative;
  margin-top: 20px;
  padding-left:20px;
  margin-right: 20px;
}

.length_select{
	background: transparent;
  padding-right: 5px;
  border: 1px solid #ccc;
  width: 240px;
  overflow: hidden;
}

.pull-down {
  margin-top: 20px;
}

.description {
  line-height: 23px;
  text-wrap:unrestricted;
}
.space-right {
  margin-right: 5px;
}
.space-left {
    margin-left: 5px;
}
.pull-in-left {
    margin-left: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.title {
  text-align: center;
  width:auto;
}

.object[href] {
    cursor: pointer;
}

.model-image {
  height: 230px;
  width: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

form label {
   font-size: 16px;
}

.settings-form {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.table-button {
  margin-right: 2px;
  margin-top: -6px;
  margin-bottom: -4px;
}

.table-button-column {
  width:138px;
}

.disabled {
  display: none;
}

#loading {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  margin-top: -32px; 
  margin-left: -32px;
  width: 64px;
  height: 64px;
}

.disabled_page{
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.dataTables_wrapper { width: 100% }
table.display { width: 100% }

#footer {
  margin-top: 60px;
}

.FixedHeader_Header{
  background-color: #FFF;
}

@media (max-width: 767px) {
  [class*="span"], .row-fluid [class*="span"]{
    float:left;
  }
  .searh-field-row{
    right: 0px;
    position: absolute;
  }
  .row-fluid:last-child {
    right: 0px;
  }

  .fields-select{
    display: none;
  }
  #error_container{
    position: static;
    margin-top: 0px;
  }
}

@media (min-width: 980px) {
  .page-container{
    margin-top:60px;
  }
   #error_container{
    position: static;
    margin-top: 50px;
  }
}

/* This fixes the small white border that was under the fixed header */
.FixedHeader_Cloned.fixedHeader.FixedHeader_Header table {
  margin-bottom: 0px !important;
}

.table-button {
	margin-right: 1px;
	margin-top: -6px;
	margin-bottom: -3px;
}