.pull-down {
	margin-top: 20px;
}

.description {
	line-height: 23px;
	text-wrap:unrestricted;
}
.space-right {
	margin-right: 5px;
}
.space-left {
    margin-left: 5px;
}
.pull-in-left {
    margin-left: 20px;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
.title {
	text-align: center;
	width:auto;
}

.object[href] {
    cursor: pointer;
}

.model-image {
	height: 230px;
	width: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.thumbnail, .thumbnails {
	margin-bottom: 0px;
}

@media (max-width: 767px) {
  .page-container{
    margin-top:30px;
    margin-left:10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
  }
}

@media (min-width: 980px) {
	.page-container{
	    margin-top:70px;
	    margin-left:5px;
	}
}